[submodule "third_party/pycsp3-models"]
	path = third_party/pycsp3-models
	url = https://github.com/xcsp3team/pycsp3-models
[submodule "third_party/sat-modulo-symmetries"]
	path = third_party/sat-modulo-symmetries
	url = https://github.com/markirch/sat-modulo-symmetries
